<h2>Nhแบญp mรฃ OTP gแปญi qua email</h2>
<form method="POST" action="/login">
  <input type="hidden" name="username" value="<%= username %>"/>
  <input type="password" name="password" placeholder="Mแบญt khแบฉu" required />
  <input type="text" name="token" placeholder="Mรฃ OTP" required />
  <button>ฤฤng nhแบญp</button>
</form>
<form action="/settings/resend-otp" method="POST">
    <button type="submit">๐ Gแปญi lแบกi mรฃ OTP</button>
</form>