  <h3>Nhแบญp mรฃ OTP ฤฦฐแปฃc gแปญi ฤแบฟn email cแปงa bแบกn</h3>
  <nav>
    <a href="/">Trang chแปง</a>
  </nav>
  <form method="POST" action="/login">
    <input type="hidden" name="username" value="<%= username %>" />
    <input type="text" name="token" placeholder="Nhแบญp mรฃ OTP" required />
    <button>Gแปญi</button>
  </form>
  <form action="/settings/resend-otp" method="POST">
    <button type="submit">๐ Gแปญi lแบกi mรฃ OTP</button>
  </form>