<h2>Xác thực OTP</h2>
<nav>
    <a href="/">Trang chủ</a>
  </nav>
<form action="/login" method="post">
  <input type="hidden" name="username" value="<%= username %>">
  <label>Mã OTP:</label>
  <input name="token" required>
  <button type="submit">Xác minh</button>
</form>