  <h3>Nhập mã OTP được gửi đến email của bạn</h3>
  <nav>
    <a href="/">Trang chủ</a>
  </nav>
  <form method="POST" action="/login">
    <input type="hidden" name="username" value="<%= username %>" />
    <input type="text" name="token" placeholder="Nhập mã OTP" required />
    <button>Gửi</button>
  </form>