<h2>Cài đặt tài khoản</h2>
<nav>
    <a href="/">Trang chủ</a>
  </nav>
<form action="/settings/email" method="post">
  <label>Email:</label>
  <input name="email" type="email" value="<%= user.email || '' %>">
  <button type="submit">Lưu email</button>
</form>

<% if (!user.otpEnabled) { %>
  <form action="/settings/enable-otp" method="POST">
    <button type="submit">Bật OTP</button>
  </form>
<% } else { %>
  <form action="/settings/disable-otp" method="POST">
    <button type="submit">Tắt OTP</button>
  </form>
<% } %>